
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body{
    max-width: 1250px;
}


header{
    width: 1210px;
    height: 71px;
    margin-left: 150px;
    
}
header img{
    
}

.details{
   list-style-type:none;
   gap: 20px;
}
.home{
    color:#252432 ;
}
.sh{
    color:#8987A1 ;
}
.ab{
    color:#8987A1 ;
}
.ca{
    color:#000000 ;
}
.head{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    justify-content:space-between;
   align-items: center; 
  
}
.li-tag ul{
    display: flex;
     margin-left: 250px; 
   
   
}
.always-fresh{
    width: 1210px;
    height: 355px;
    margin: 120px 140px;
}
.always{
    display: flex;
   gap: 0;
  
   justify-content: center;
   
}
.always-inner h1{
    font-size: 65px;
    font-weight: bold;
    text-align: start;
    
}
.always-inner span{
    color:#E95A08 ;

}


.dis{
    font: 22px;
    color:rgba(0, 0, 0, 0.5) ;
    width: 570px;
  
   
}
.inner-img img{
    width: 500px;
    height: 355px;
 
    
}

/* secound section */

.secound{
    margin: 20px 150px;
    max-width: 1210px;

    max-height: 1220px;
    

}

.plants h1{
    font: 50px;
    font-weight: bold;
    text-align: center;
}
.titel-f{
    color: rgba(233, 90, 8, 1) ;
}
.plants p{
    font: 20px;
    color:rgba(0, 0, 0, 0.5) ;
  
  text-align: center;
}
.all-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px auto; 
 gap: 10px;
 max-width: 1200px;

 
 
}
.card img{
    max-width: 270px;
}
.card{
   padding: 0;
  text-align: center;
margin-top: 30px;
 max-width: 270px;

}
.card button{
    font-size: 16px;
    font-weight: bold;
    background-color:rgba(233, 90, 8, 1) ;
    color: rgba(255, 255, 255, 1);
     margin-top: 10px;
    width: 270px;
   padding: 19px 80px;
    border: none;
    
}
    

.card button:hover{
    background-color: rgb(231, 209, 11);
    transition-duration: 1s;
}  
/* ###########third section#################### */



/* .third div{
    /* margin: 83 px 150px ; */
    /* display: flex;
    justify-content: center; */
  
 .third{
    display: flex;
    justify-content: center;
    margin: 0 150px;
 } 

.third img{
    width: 286px;
    height: 286px;
   
}

  /* margin: 83px 438px 497px 657px;
} */
 /* margin: 0px 497px 657px; */
.third{
    max-width: 1210px;
    margin: 86px 150px;
}
.container{
    position: relative;
}
.trusted  {
  left: 100px;
  bottom: -120px;
  z-index: 20;
 
}
.bad{
   max-width:  286px;
   max-height: 286px;
   border: 2px red;
 box-shadow: 2px light rgb(174, 17, 17);
}
.lover{
    z-index: 10;
}

 .lover-details{
    max-width: 540px;
 }
.lover-details ul{
    font: 20px;
    color: rgba(0, 0, 0, 0.5);
   
}
.lover-details li{
    margin-top: 15px;
   
}
.lover-details h2{
    font:50px;
    font-weight: bold;
}
.lover{
    display: flex;
    align-items: center;
   
    gap: 60px;
}
.lover-pic img{
    max-width:540px;
}

/*$############################ fourth##################################### */
.fourth{
    margin: 120px 150px;
}
.fourth h2{
    font: 50px;
    font-weight: bold;
    text-align: center;
}
.fourth p{
    font: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.fourth span{
    color:rgba(233, 90, 8, 1) ;
}
/* ##########################  Fifth ############################## */
.fifth{
    margin: 120px 150px;
}
.father{
    display: flex;
    gap: 28px;
}

.baby1 img {
    max-width:367px;
    border-radius: 20px;
    margin-top: 10px;
}
.baby2 img {
    max-width:367px;
    border-radius: 20px;
    margin-top: 10px;
}
.mom img{
    border-radius: 20px;
}
/* ############################### Sixth ####################### */
.sixth{

}
.subscribe img{
    max-width: 1440px;
}
.gadagadi h1{
    text-align: center;
    font: 50px;
    color:rgb(232, 219, 219);
    font-weight: bold;

}
.gadagadi da{
  align-items: center;
}
.gadagadi button{
    font: 16px;
    font-weight: bold;
    color: rgb(228, 218, 218);
    background-color:rgba(233, 90, 8, 1) ;
    padding: 19px 53px;
    border: none;
   
}
.gadagadi button:hover{
     background-color: rgb(231, 209, 11);
    transition-duration: 1s;
}

.gadagadi{
    position: relative;
}
.ga{
    z-index:20 ;
    bottom: 300px;
    
}
.da{
    display: flex;
    bottom: 295px;
    left: 500px;
   
}
footer{
    margin: 50px 160px;
  
}
.footer p{
    color:rgba(107, 114, 128, 1) ;
  
}

.all-links{
    display: flex;
    align-items: center;
    gap: 100px;
    
  
}
.footer{
    display: flex;
    align-items: center;
    gap: 250px;
    
justify-content: space-between;
}
.links1 li {
    list-style: none;
    margin-top: 50px;
 
}
.links2 li {
    list-style: none;
    margin-top: 50px;
    
}
.all-links a{
    color:rgba(107, 114, 128, 1) ;
    text-decoration: none;
     
}
.all-icons{
    display: flex;
    gap: 50px;
    margin-bottom: 250px;
   
   align-items: inherit;
    
}






/* for phone  */
@media screen  and (max-width:576px){
   
    #ho, #sh ,#ab{
        display: none;
    }

body{
   max-width: 393px;
}

     header{
        justify-content: space-between;
    } 
    /* .always-fresh{
        max-width: 393px;
    } */
    .always{
        flex-direction: column-reverse;
        margin: 65px auto;
    }
    /* .secound{
        max-width: 395px;

    } */
    .all-cards{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
       
    }
    .inner-img{
        max-width: 100%;
        height: 245px;
    }
        
}

@media screen and(min-width:576px) and (max-width:992px) {
    
}